# Ignore node_modules
node_modules
npm-debug.log

# Ignore git
.git
.gitignore

# Ignore development files
.env*.local
.env.production
*.md
.next
coverage

# Ignore IDE files
.idea
.vscode
*.swp
*.swo
